/* Navigation */
:root {
  --hide-content: none;
  --show-content: block;
}

.owlnook-logo {
  width: 100px;
  height: 45px;
}

/* .nav-item .fa,
.nav-item .fas {
  font-size: 26px;
}

.navbar-nav li {
  margin-top: 10px;
}

.nav-item .btn {
  border: 0;
  background: transparent;
}

.nav-item .btn i {
  padding-top: 1px;
}

.navbar-form-search .btn:focus {
  color: #fff;
  outline: none;
  box-shadow: none;
}

.search-input {
  margin-top: 8px;
}

.hide {
  display: var(--hide-content);
}

.nav-sm {
  display: var(--hide-content);
}

.nav-lg {
  display: var(--show-content);
}

.nav-container-sm ul {
  justify-content: flex-end;
  margin-top: 5px;
}


*/
i,
.navbar-toggler-icon {
  font-size: 30px;
}

.navbar-sm ul {
  margin-bottom: 6px;
}

.navbar-sm li a {
  margin-top: 8px;
}

.navbar-lg .nav-link {
  margin-top: 8px;
}

.navbar-toggler,
.navbar-sm a,
.navbar-lg .nav-link {
  padding: 4px 10px;
  border: 0;
}

.navbar-sm {
  display: var(--hide-content);
}

.navbar-lg {
  display: var(--show-content);
}

@media screen and (max-width: 576px) {
  .navbar-sm {
    display: var(--show-content);
  }

  .navbar-lg {
    display: var(--hide-content);
  }
}
