/* Universal */
:root {
  --hide: none;
  --show: block;
}

body {
  font-family: "Poppins", sans-serif;
}

.spin-loader {
  display: var(--hide);
}

/* Navigation */

.owlnook-logo {
  width: 100px;
  height: 45px;
}

i,
.navbar-toggler-icon {
  font-size: 30px;
}

.navbar-sm ul {
  margin-bottom: 6px;
}

.navbar-lg .nav-link {
  margin-top: 8px;
}

.navbar-toggler,
.navbar-sm a,
.navbar-lg .nav-link {
  padding: 4px 10px;
  border: 0;
}

.navbar-sm,
.dropdown-toggle::after,
#get-started-btn {
  display: var(--hide);
}

.un-auth-user li {
  margin: 0 10px;
}
/* Homepage */

.fa-chevron-right::before {
  padding-left: 8px;
  padding-top: 4px;
  font-size: 21px;
}

@media screen and (max-width: 576px) {
  .navbar-sm,
  #get-started-btn {
    display: var(--show);
  }

  .navbar-lg,
  #register-btn,
  #login-btn {
    display: var(--hide);
  }

  .navbar-toggler-icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 330px) {
  .navbar-toggler-icon,
  i {
    font-size: 26px;
  }

  .navbar-sm li a {
    margin-top: 6px;
  }
}
