{% extends "base.html"%}
{% load cloudinary %}
{% cloudinary_includes %}
{% block content %}
  <div class="container">
    <h1>Add post</h1>

    <div class="form-group" id='backend_upload'>
      <form method="post" action="{% url 'blog.views.add_post' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ backend_form }}

        <div>
          <input type="submit" value="Post" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload-success">
        </div>
      </form>
      {% if posted %}
        <div class="modal" tabindex="-1" id="upload-success">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Upload Successful</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <div class="results">
                  {% if posted.errors %}
                    Errors:
                    {{ posted.errors }}
                  {% else %}
                    <div class="uploaded_info">
                      <div class="data">
                        <table>
                          {% for key, value in posted.featured_image.metadata.items %}
                            <tr>
                              <td>{{ key }}</td>
                              <td>{{ value }}</td>
                            </tr>
                          {% endfor %}
                        </table>
                      </div>
                      <div class="image">
                        {% cloudinary posted.featured_image THUMBNAIL %}
                      </div>
                    </div>
                  {% endif %}
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
